# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db
